# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# IDE files
.idea/
.vs/
*.sln.ide/

# Rider files
.idea/
/idea.user/
/project/rider/

# Environment files
.env
/src/Api/appsettings.Development.json
/src/Api/http-client.env.json

# Tooling
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Mac files
.DS_Store

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.[Pp]db
*.[Cc]ache
*.[Ss]crubber
*.cache

*.py
*.txt